{% extends view.layout.base_template %}
{% load static %}

{% block body %}
  <div class="container"
       id="main-container">
    <p>
      <a href="/">
        &larr; Home
      </a>
    </p>
    <h1>{{ view.title }}</h1>

    {% for root in view.tree %}
      <h2>{{ root.title }}</h2>
      {% if root.children %}
        <ul>
          {% for node in root.children %}
            <li>
              {% if node.num_results %}
                <a href="{% url 'krwlight.download' %}?{{ view.criterium }}={{ node.id }}">
                  {{ node.title }}
                </a>
              {% else %}
                {{ node.title }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>
          Geen locaties beschikbaar.
        </p>
      {% endif %}

    {% endfor %}
  </div>
{% endblock body %}
