{% extends view.layout.base_template %}
{% load static %}

{% block body %}
  <div class="container"
       id="main-container">
    <p>
      <a href="/">
        &larr; Home
      </a>
    </p>
    <h1>{{ view.title }}</h1>

    <div class="row">
      {% for root in view.tree %}
        <div class="col-md-6">
          <h2>{{ root.title }}</h2>
          {% if root.children %}
            <ul>
              {% for node in root.children %}
                <li>
                  {% if node.num_results %}
                    <a href="{% url 'krwlight.preview' %}?{{ view.criterium }}={{ node.id }}">
                      {{ node.title }}
                    </a>
                    <span class="badge">{{ node.num_results }}</span>
                  {% else %}
                    <span class="text-muted">{{ node.title }}</span>
                  {% endif %}
                </li>

                  {% if node.children %}
                    <ul>
                      {% for subnode in node.children %}
                        <li>
                          {% if subnode.num_results %}
                            <a href="{% url 'krwlight.preview' %}?{{ view.criterium }}={{ subnode.id }}">
                              {{ subnode.title }}
                            </a>
                            <span class="badge">{{ subnode.num_results }}</span>
                          {% else %}
                            <span class="text-muted">{{ subnode.title }}</span>
                          {% endif %}
                        </li>

                          {% if subnode.children %}
                            <ul>
                              {% for subsubnode in subnode.children %}
                                <li>
                                  {% if subsubnode.num_results %}
                                    <a href="{% url 'krwlight.preview' %}?{{ view.criterium }}={{ subsubnode.id }}">
                                      {{ subsubnode.title }}
                                    </a>
                                    <span class="badge">{{ subsubnode.num_results }}</span>
                                  {% else %}
                                    <span class="text-muted">{{ subsubnode.title }}</span>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}

                      {% endfor %}
                    </ul>
                  {% endif %}

              {% endfor %}
            </ul>
          {% else %}
            <p>
              Geen locaties beschikbaar.
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
