{% extends view.layout.base_template %}
{% load static %}

{% block body %}
  <div class="container"
       id="main-container">
    <p>
      <a href="/">
        &larr; Home
      </a>
    </p>
    <h1>{{ view.title }}</h1>

    <div class="row">
      {% for root in view.tree %}
        <div class="col-md-6">
          <h2>{{ root.title }}</h2>
          {% if root.children %}
            <ul>
              {% for node in root.children %}
                <li>
                  {% if node.num_results %}
                    <a href="{% url 'krwlight.download' %}?{{ view.criterium }}={{ node.id }}">
                      {{ node.title }}
                    </a>
                    <span class="badge">{{ node.num_results }}</span>
                  {% else %}
                    <span class="text-muted">{{ node.title }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>
              Geen locaties beschikbaar.
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
